.active {
    font-size: 0.775rem !important;
    background: #2c3e50 !important;
    background: -webkit-gradient(linear, left top, right top, from(#fd746c), to(#2c3e50)) !important;
    background: linear-gradient(to right, #2c3e50, #fd746c) !important;
    font-weight: bold;
    white-space: nowrap;
    color: white !important;

}; 