@import 'src/assets/variables';

.top {
  
    &__navigation {
        
        background-color: $light-black;
    }

}
.agent {
   
    &__left-navigation {
    border-right: 1px solid black;
    background-color: $dark-grey;

    }; 

   
}