<div [ngSwitch]="navigationType">
    <div *ngSwitchCase="'client'">
        <app-client-navigation></app-client-navigation>
    </div>
    <div *ngSwitchCase="'transactions'">
        <app-transactions-navigation></app-transactions-navigation>
    </div>
    <div *ngSwitchCase="'agent'">
        <app-agent-navigation></app-agent-navigation>
    </div>
    <div *ngSwitchCase="'reports'">
        <app-reports-navigation></app-reports-navigation>
    </div>
    <div *ngSwitchDefault>
        <app-client-navigation></app-client-navigation>
    </div>
</div>
