 <div class="row h-100 admin">
    <div class="container admin-login col-xl-5">
        <div class="admin-login__content__lang col-12 d-flex justify-content-end mt-4">
            <div class="admin-login__content__lang__content col-xs-3 p-0">
                <div    *ngIf="!isEngLangActive" 
                        class="admin-login__content__lang__content__button d-flex align-items-center justify-content-center py-1 px-3" 
                        (click) = 'toggleLanguage("eng")'
                        > 
                        <div class="admin-login__content__lang__content__button__icon mr-2">
                            <img src="assets/img/united-states.svg" alt="">
                        </div>
                        <span>English</span>
                        
                </div>
                <div    *ngIf="isEngLangActive"
                        class="admin-login__content__lang__content__button d-flex justify-content-center align-items-center py-1 px-3"
                        (click) = 'toggleLanguage("geo")'
                        >
                        <div class="admin-login__content__lang__content__button__icon mr-2">
                            <img src="assets/img/georgia.svg" alt="">
                        </div>
                        <span>Georgian</span>
                </div>
            </div>
        </div>
        <div class="admin-login__content py-3 mt-2"> 
            <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
                <div *ngIf="isError"  
                     class="admin-login__content__error d-flex justify-content-center mb-4">
                    <div class="admin-login__content__error__box col-md-6 p-3">
                        <span > {{ errorMessage }} </span>
                    </div>
                </div>
                <div class="admin-login__content__user-id input-group col-12 mb-3">
                    <div class="input-group-prepend">
                        
                        <span class="input-group-text py-0" id="basic-addon1">
                            <fa-icon [icon]="faUser"></fa-icon>
                        </span>
                    </div>
                    <input type="text" 
                            formControlName="agentName"
                            class="form-control" 
                            placeholder = "{{'AGENTNAME' | translate}}"
                            aria-label="agentName" 
                            aria-describedby="basic-addon1"
                            required
                            >
                </div>
                <div class="admin-login__content__user-id input-group col-12  mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text py-0" id="basic-addon1">
                                <fa-icon [icon]="faLock"></fa-icon>
                            </span>
                        </div>
                        <input type="password" 
                                formControlName="password"
                                class="form-control" 
                                placeholder = "{{'PASSWORD' | translate}}" 
                                aria-label="Password" 
                                aria-describedby="basic-addon1"
                                required
                                >
                </div>
                <div class="admin-login__content__button col-12 d-flex justify-content-center mt-5">
                    <div class="admin-login__content__button__content col-6">
                        <button class="btn btn-primary" type="submit"> {{ 'LOGIN' | translate }} </button>
                        <!-- <img src="assets/img/loading.gif" alt=""> -->
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>