<div class="navigation  h-100 justify-content-end">

    <div class="navigation__box col-12 pr-0 mt-3">
        <a [routerLink]="['/account-wallets']" 
            routerLinkActive="active" 
            class="navigation__box__item d-flex justify-content-between w-100 p-3"
            >
            <div class="navigation__box__item__icon col-3">
                <fa-icon [icon]="faBullseye"></fa-icon>
            </div>
            <div class="navigation__box__item__text col-9 p-0">
                <p> {{ 'CASH_IN2' | translate }} </p>
            </div>
        </a>
    </div>

    <div class="navigation__box col-12 pr-0 ">
        <a [routerLink]="['/client-accounts']" 
            routerLinkActive="active" 
            class="navigation__box__item d-flex justify-content-between w-100 p-3"
            >
            <div class="navigation__box__item__icon col-3">
                <fa-icon [icon]="faBullseye"></fa-icon>
            </div>
            <div class="navigation__box__item__text col-9 p-0">
                <p> {{ 'CASH_OUT2' | translate }} </p>
            </div>
        </a>
    </div>

    <div class="navigation__box col-12 pr-0 ">
        <a [routerLink]="['/view-edit-client']" 
            routerLinkActive="active" 
            class="navigation__box__item d-flex justify-content-between w-100 p-3"
            >
            <div class="navigation__box__item__icon col-3">
                <fa-icon [icon]="faBullseye"></fa-icon>
            </div>
            <div class="navigation__box__item__text col-9 p-0">
                <p> {{ 'GIVE_LOAN' | translate }} </p>
            </div>
        </a>
    </div>

    <div class="navigation__box col-12 pr-0 ">
        <a [routerLink]="['/register-account']" 
            routerLinkActive="active" 
            class="navigation__box__item d-flex justify-content-between w-100 p-3"
            >
            <div class="navigation__box__item__icon col-3">
                <fa-icon [icon]="faBullseye"></fa-icon>
            </div>
            <div class="navigation__box__item__text col-9 p-0">
                <p> {{ 'GET_DEBT' | translate }} </p>
            </div>
        </a>
    </div> 

    <div class="navigation__box col-12 pr-0 ">
        <a [routerLink]="['/close-account']" 
            routerLinkActive="active" 
            class="navigation__box__item d-flex justify-content-between w-100 p-3"
            >
            <div class="navigation__box__item__icon col-3">
                <fa-icon [icon]="faBullseye"></fa-icon>
            </div>
            <div class="navigation__box__item__text col-9 p-0">
                <p> {{ 'CHARGEBACK' | translate }} </p>
            </div>
        </a>
    </div>

    <div class="navigation__box col-12 pr-0 ">
        <a [routerLink]="['/pin-reset']" 
            routerLinkActive="active" 
            class="navigation__box__item d-flex justify-content-between w-100 p-3"
            >
            <div class="navigation__box__item__icon col-3">
                <fa-icon [icon]="faBullseye"></fa-icon>
            </div>
            <div class="navigation__box__item__text col-9 p-0">
                <p> {{ 'GIVE_LOAN_GROUP' | translate }} </p>
            </div>
        </a>
    </div>

    <div class="navigation__box col-12 pr-0 ">
        <a [routerLink]="['/unblock-amount']" 
            routerLinkActive="active" 
            class="navigation__box__item d-flex justify-content-between w-100 p-3"
            >
            <div class="navigation__box__item__icon col-3">
                <fa-icon [icon]="faBullseye"></fa-icon>
            </div>
            <div class="navigation__box__item__text col-9 p-0">
                <p> {{ 'GET_DEBT_GROUP' | translate }} </p>
            </div>
        </a>
    </div>

    <div class="navigation__box col-12 pr-0 ">
        <a [routerLink]="['/unblock-amount']" 
            routerLinkActive="active" 
            class="navigation__box__item d-flex justify-content-between w-100 p-3"
            >
            <div class="navigation__box__item__icon col-3">
                <fa-icon [icon]="faBullseye"></fa-icon>
            </div>
            <div class="navigation__box__item__text col-9 p-0">
                <p> {{ 'TRANSACTIONS_HISTORY' | translate }} </p>
            </div>
        </a>
    </div>

    <div class="navigation__box col-12 pr-0 ">
        <a [routerLink]="['/unblock-amount']" 
            routerLinkActive="active" 
            class="navigation__box__item d-flex justify-content-between w-100 p-3"
            >
            <div class="navigation__box__item__icon col-3">
                <fa-icon [icon]="faBullseye"></fa-icon>
            </div>
            <div class="navigation__box__item__text col-9 p-0">
                <p> {{ 'TRANS_DETAILS' | translate }} </p>
            </div>
        </a>
    </div>

    
</div>