<div class="row navigation">
    <div class="navigation__logos col-md-2">
        <app-company-logos></app-company-logos>
    </div>
    <div class="navigation__menu col-md-6 row ">
        
        <div class="navigation__menu__item d-flex align-items-center justify-content-center col-md-3">
                <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Client</a>
        </div>
        
        <div class="navigation__menu__item d-flex align-items-center justify-content-center col-md-3">
            <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Client</a>
        </div>
    
        <div class="navigation__menu__item d-flex align-items-center justify-content-center col-md-3">
            <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Client</a>
        </div>
        
        <div class="navigation__menu__item d-flex align-items-center justify-content-center col-md-3">
            <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Client</a>
        </div>
    
 

    </div>   
    <div class="col-md-4 navigation__currency-user row">
        <div class="navigation__currency-user__currency col-md-6" style="text-align: center;">
            <app-currency></app-currency>
        </div>
        <div class="navigation__currency-user__currency__user col-md-6" style="text-align: center;">
            <div class="col-12">
                <p>AgentName: </p>
            </div>
            <div class="col-12">
                <p>AgentRole</p>
            </div>
            <div class="col-12">
                <p>LogOut</p>
            </div>
        </div>
    </div>
</div>